{% extends 'base.html' %}
{% block content %}
    <body> 
        <h1>name website</h1>
        <h2>enter your loging details</h2>
        <from action="">
            <label for="first">
                username:
            </label>
            <input type="'text"
                    id="'first"
                    name="first"
                    placeholder="enter your username" required>
            
            <label for="pasword">
                password:
            </label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="enter your password" required>
            
            <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                        Submit
                </button>
            </div>
        </from>
        <p>Not registered?  
            <a href="register.html" 
            style="text-decoration: none;"> 
            Create an account 
        </a> 
    </p> 
</div> 
</body> 

</html>