    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('profile', user_id=post.author.id) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('profile', user_id=post.author.id) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}

                <br>
                <span id="post{{ post.id }}">{{ post.post_message }}</span>
                {% if post.is_movie %}
                <img style="width: 30%" src=" {{ movie_tmdb.get_small_details_out_single_movie(post.is_movie, movie_tmdb.get_data(post.movie_id))['Poster'] }}" />
                    {% set title = movie_tmdb.get_small_details_out_single_movie(post.is_movie, movie_tmdb.get_data(post.movie_id))['Title'] %}
                {% else %}
                <img style="width: 30%" src=" {{ serie_tmdb.get_small_details_out_single_movie(post.is_movie, serie_tmdb.get_data(post.movie_id))['Poster'] }}" />
                {% set title = serie_tmdb.get_small_details_out_single_movie(post.is_movie, serie_tmdb.get_data(post.movie_id))['Title'] %}
                {% endif %}
                <strong><a style="hidden: true" href="{{ url_for('search', type=post.is_movie, id=post.movie_id) }}"> Movie Name: {{ title }}</a></strong>
            </td>
        </tr>
    </table>
