{% extends 'base.html' %}
{% block content %}
    <body>
    <section class="section">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4" id="movie">
                {% for row in movies|batch(5) %}
                    {% for movie in row %}
                        <div class="col">
                            <div class="card">
                                <a href="{{ url_for('search', id=movie['Id'], type=movie['Type']) }}">
                                    <img src="{{ movie['Poster'] }}" class="card-img-top" alt="{{ movie['Title'] }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ movie['Title'] }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
    </body>
{% endblock %}
