{% extends 'base.html' %}
{% block content %}
    <body>
    <h4 style="text-align: center">----------------You are on this page here--------</h4>
    <hr>
    <section class="section">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4" id="movie">
                {% for row in movies|batch(5) %}
                    {% for movie in row %}
                        <div class="col mb-4 d-flex align-items-stretch">
                            <!-- Added 'mb-4' for margin bottom and 'd-flex align-items-stretch' for flexbox -->
                            <div class="card w-100">
                                <a href="{{ url_for('search', id=movie['Id'], type=movie['Type']) }}">
                                    <img style="container: inherit" src="{{ movie['Poster'] }}" class="card-img-top"
                                         alt="{{ movie['Title'] }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center">{{ movie['Title'] }}</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                            {% if current_page > 1 %}
                                {% if request.endpoint == 'popular' %}
                                    <a class="page-link"
                                       href="{{ url_for(request.endpoint, genre_id=genre, type=type, page=current_page - 1) }}">Previous</a>
                                {% elif request.endpoint == 'search' %}
                                    <a class="page-link"
                                       href="{{ url_for(request.endpoint, id=id, type=type, page=current_page - 1) }}">Previous</a>
                                {% else %}
                                    <a class="page-link" href="{{ url_for(request.endpoint, page=current_page - 1) }}">Previous</a>
                                {% endif %}
                            {% else %}
                                <a class="page-link">Previous</a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">{{ current_page }}</a>
                        </li>
                        <li class="page-item {% if movies|length != 20 %}disabled{% endif %}">
                            {% if movies|length == 20 %}
                                {% if request.endpoint == 'popular' %}
                                    <a class="page-link"
                                       href="{{ url_for(request.endpoint, genre_id=genre, type=type, page=current_page + 1) }}">Next</a>
                                {% elif request.endpoint == 'search' %}
                                    <a class="page-link"
                                       href="{{ url_for('search', id=id, type=type, page=current_page + 1) }}">Next</a>
                                {% elif request.endpoint == 'search_title' %}
                                    <a class="page-link"
                                       href="{{ url_for('search_title', title=title, page=current_page + 1) }}">Next</a>
                                {% else %}
                                    <a class="page-link" href="{{ url_for(request.endpoint, page=current_page + 1) }}">Next</a>
                                {% endif %}
                            {% else %}
                                <a class="page-link">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
