{% comment %} <!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/> {% endcomment %}

{% extends "base.html" %}
{% block content%}

    <div class=login>
    <body> 
        <h1>name website</h1>
        <h2>enter your loging details</h2>
        <h3><from action="">
            <label for="email">
                email:
            </label>
            <input type="text"
                    id="email"
                    name="email"
                    placeholder="enter your email" required>
            
            <label for="pasword">
                password:
            </label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="enter your password" required>
            
            <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                        Submit
                </button>
            </div>
        </from>
        </h3>
        <p> 
            forgot password? <a href="/html_folder/cssmaps/new_password.css.html">ask new pasword here</a>
        </p>
        <p>Not registered?  
            <a href="register.html" 
            style="text-decoration: none;"> 
            Create an account 
        </a> 
        <div>
            <p>want to return to home press <a href="main.html">here.</a></p>
        </div>
    </p> 
</div> 
</body> 
</div>
</html>