{% comment %} <!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/> {% endcomment %}

{% extends "base.html" %}
{% block content%}

<div class="login">
    <body> 
        <h1>name website</h1>
        <h2>enter your loging details</h2>
        <from method='post' action="{{ url_for('login') }}">
            {{form.hidden_tag}}
            <label for="username">Username:</label>
            {{ form.username(class="form-control", placeholder="Enter your username") }}
    
            <label for="password">Password:</label>
            {{ form.password(class="form-control", placeholder="Enter your password") }}
    
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                <label class="form-check-label" for="remember_me">Remember Me</label>
            </div>
    
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p> 
            forgot password? <a href="new_password.html">ask new pasword here</a>
        </p>
        <p>Not registered?<a href="register.html" style="text-decoration: none;">Create an account</a></p>
        <div>
            <p>want to return to home press <a href="main.html">here.</a></p>
        </div> 
    </body> 
</div>
</html>