<!-- <!DOCTYPE html>
<html lang="en">
<head>  
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/> -->

{% extends "base.html" %}
{% block content%}


<div class="new_password">
    <header>
        <h1>Forgot Password</h1>
    </header>
    <body>
        <form method="post" action="{{ url_for('reset_password_request_route') }}">
            {{ form.hidden_tag() }}
            <label for="email">Email:</label>
            {{ form.email(class="form-control", placeholder="Enter your email", required=true) }}
            <button type="submit">Submit</button>
        </form>
    </body>
</div>
</html>