<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/>

<div class="new_password">
    <header>
        <h1>Forgot Password</h1>
    </header>
    <body>
        <form action="/forgot_password" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
    </body>
    </div>
</div>
</html>