{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/>
    <title>profile</title>
</head> {% endcomment %}

{% extends "base.html" %}
{% block content%}
<div class= profile>
<body>
    <header>
        <h1>Welcome to the profile!</h1>
        <p>you are logged in as {{ user }}</p>
    </header>

    <section class="profile">
        <img src="profile-picture.jpg" alt="Profile Picture">
        <div class="bio">
            <h2>profile info</h2>
            <p>username: {{ user }}</p>
            <p>email: {{ email }}</p>
            <!-- kan meer toevoegen moest het nodig zijn -->

            <h3>change email or username</h3>
            <from action="/change_email" method="post">

                <label for="new_email">new email</label>
                <input type="email" id="'new_email" name="new_email" required>
                <button type="submit">change email</button>
                <form action="/change_username" method="post">

                <label for="new_username">New Username:</label>
                <input type="text" id="new_username" name="new_username" required>
                <button type="submit">Change Username</button>
                </form>
            </div>
    </section>

    <section class="reviews">
        <h2>reviews</h2>
        <ul>
        </ul>
    </section>
</body>
<footer>
    <p>want to return to home press <a href="main.html">here.</a></p>
</footer>
</div>
</html>
