{% comment %} <!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/>
</head> {% endcomment %}

{% extends "base.html" %}
{% block content%}


<div class="reset_password">
<body>
    <h1>Reset Password</h1>
    <form action="/reset_password/{{ token }}" method="post">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</div>
</html>
