<!-- <!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/cssmaps/styles.css"/>
</head> -->

{% extends "base.html" %}
{% block content%}


<div class="reset_password">
<body>
    <h1>Reset Password</h1>
    <form method="post" action="{{ url_for('reset_password_route', token=token) }}">
        {{ form.hidden_tag() }}
                <label for="password">New Password:</label>
                {{ form.password(class="form-control", placeholder="Enter your new password", required=true) }}
                
                <label for="password2">Repeat Password:</label>
                {{ form.password2(class="form-control", placeholder="Repeat your new password", required=true) }}
                
                <button type="submit">Reset Password</button>
    </form>
</body>
</div>
</html>